<%= form_with model: artist do |form| %>
  <div>
    <%= form.label :name %>

    <br>

    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :country %>

    <br>

    <%= form.text_field :country %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
